.right {
    height: 5px;
    width: 80px;
    background-color: #2c3e50;
}

.left {
    height: 5px;
    width: 80px;
    background-color: #2c3e50;
}

.dark {
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mmtop {
    margin-top: 7.5rem;
}

/****************************/
input {
    cursor: text;
}




input:focus {
    outline: none ! important;
    box-shadow: none ! important;

}

button {
    cursor: pointer;
}

/*********/

.form {
    margin-top: 5rem !important;

}

@media (max-width: 768px) {
    .form {
        width: 100% !important;
    }
}