.footer-handel{
    background-color: #2c3e50 !important;
    color: #fff !important;
    margin-bottom: 0 !important;
}

.inner{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.end{
    background-color: #1a252f ;
    color: #fff ;
    text-align: center;
    padding-top: 2rem ;
    padding-bottom: 1rem ;
}